{% extends 'base.html.twig' %}

{% block title %}
    Tokens
{% endblock %}

{% block body %}
    {% include './_header.html.twig' %}
    <div>
        {% for key, messages in app.flashes() %}
            {% for message in messages %}
                <div class="px-4 py-3 text-blue-700 bg-blue-100 border-t border-b border-blue-500"
                    role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="flex flex-row mt-8">
        <a href="{{ path('app_token_new') }}"
            class="no-underline btn btn-primary">
            Add Token
        </a>
        <form action="{{ path('app_token_reorder') }}" method="post">
            <input type="submit"
                value="Refresh Order"
                class="ml-4 cursor-pointer btn btn-primary" />
        </form>
    </div>

    <div class="w-full py-8">
        <div class="overflow-hidden border-b border-gray-200 rounded shadow">
            <table class="min-w-full bg-white">
                <thead class="text-white bg-gray-800">
                    <tr>
                        <th class="w-1/3 px-4 py-3 text-sm font-semibold text-left uppercase">
                            Thumbnail
                        </th>
                        <th class="w-1/3 px-4 py-3 text-sm font-semibold text-left uppercase">
                            Symbol
                        </th>
                        <th class="px-4 py-3 text-sm font-semibold text-left uppercase">
                            Name
                        </th>
                        <th class="px-4 py-3 text-sm font-semibold text-left uppercase">
                            Description
                        </th>
                        <th class="px-4 py-3 text-sm font-semibold text-left uppercase">
                            Active?
                        </th>
                        <th class="px-4 py-3 text-sm font-semibold text-left uppercase">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {% for token in tokens %}
                        {% if loop.index is even %}
                            {% set trClass = 'bg-gray-100' %}
                        {% else %}
                            {% set trClass = '' %}
                        {% endif %}
                        <tr class="{{ trClass }}">
                            <td class="w-1/3 px-4 py-3 text-left">
                                {% if token.metadata.thumbnail_uri ?? null %}
                                    <img src="{{
                                        token.metadata.thumbnail_uri
                                        }}"
                                        width="50" />
                                {% else %}
                                    {% include './svg/noun_explosion_563988.svg' %}
                                {% endif %}
                            </td>
                            <td class="w-1/3 px-4 py-3 text-left">
                                {{ token.metadata.symbol }}
                            </td>
                            <td class="px-4 py-3 text-left">
                                {% if token.metadata.name is defined %}
                                    {{ token.metadata.name }}
                                {% endif %}
                            </td>
                            <td class="px-4 py-3 text-left">
                                {% if token.metadata.description is defined %}
                                    {{
                                        token.metadata.description|u.truncate(
                                            35,
                                            '...'
                                        )
                                    }}
                                {% endif %}
                            </td>
                            <td class="px-4 py-3 text-left">
                                {% if token.active %}
                                    {% set checked = 'checked' %}
                                {% else %}
                                    {% set checked = '' %}
                                {% endif %}
                                <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                                    {% set formId = 'toggle-'
                                        ~ token.metadata.symbol
                                    %}
                                    <form id="{{ formId }}"
                                        action="{{
                                        path(
                                            'app_token_toggle',
                                            {
                                                address: token.address
                                            }
                                        )
                                        }}"
                                        method="post">
                                        <input type="checkbox"
                                            name="toggle-{{
                                            token.metadata.symbol
                                            }}"
                                            id="toggle-{{
                                            token.metadata.symbol
                                            }}"
                                            {{ checked }}
                                            class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox"
                                            onclick="document.getElementById('{{
                                            formId
                                            }}').submit();" />
                                        <label for="toggle-{{
                                            token.metadata.symbol
                                            }}"
                                            class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label">

                                        </label>
                                    </form>
                                </div>
                            </td>
                            <td class="px-4 py-3">
                                <a href="{{
                                    path(
                                        'app_token_edit',
                                        {
                                            address: token.address
                                        }
                                    )
                                    }}"
                                    class="btn btn-primary no-underline">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
