{% extends 'base.html.twig' %}

{% block title %}
    Token Form
{% endblock %}

{% block body %}
    {% include './member_area/_header.html.twig' %}
    <div {{ stimulus_controller('token_form') }}>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.contract) }}
        {{ form_row(form.id) }}
        {{ form_row(form.metadata) }}
        {{ form_row(form.active) }}
        <h3>
            Exchanges
        </h3>
        <div class="exchanges"
            data-prototype="{{ form_widget(form.exchanges.vars.prototype)|e(
                'html_attr'
            ) }}"
            data-index="{{ form.exchanges|length }}">
            {% for exchange in form.exchanges %}
                <div>
                    <button class="btn btn-danger | float-right"
                        data-action="token-form#deleteCollectionItem">
                        Delete
                    </button>
                    {{ form_row(exchange.exchangeId) }}
                    {{ form_row(exchange.contract) }}
                </div>
            {% endfor %}
        </div>
        <button type="button"
            class="btn btn-primary"
            data-action="token-form#addCollectionItem"
            data-collection-holder-class="exchanges">
            Add exchange
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}
