{% extends 'base.html.twig' %}

{% block body %}
    <div class="space-y-4">
        <div {{ stimulus_controller('token-choices') }}>
            <div class="w-full bg-gray-50 h-11"
                data-token-choices-target="holder"></div>
            <form data-token-choices-target="form" class="hidden">
                <div>
                    <select class="form-control"
                        id="token-choices"
                        onchange="window.location.replace('?identifier=' + this.value)">
                        {% for t in tokens %}
                            {% set selected = t.identifier
                                == selectedToken.identifier
                                ? 'selected'
                                : ''
                            %}
                            <option value="{{ t.identifier }}"
                                {{ selected }}
                                class="">
                                {{ t.symbol }} {% if t.name is defined %}
                                    ({{ t.name }})
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>

        <div class="custom-radio-buttons"
            {{ stimulus_controller('time_interval_form') }}>
            {% form_theme timeIntervalForm
                with['form_div_layout.html.twig']
                only
            %}
            {{ form(timeIntervalForm) }}
        </div>

        {{ render_chart(chart) }}
    </div>
{% endblock %}
