{% extends 'base.html.twig' %}

{% block body %}
    {#
    <nav class="columns">
        <div class="column is-full" {{ stimulus_controller('token-choices') }}>
            <div class="" data-token-choices-target="holder"></div>
            <form data-token-choices-target="form" class="">
                <div>
                    <select class="form-control"
                        id="token-choices"
                        onchange="window.location.replace('?address=' + this.value)"
                        class="">
                        {% for t in tokens %}
                            {% set selected = t.address == currentToken.address
                                ? 'selected'
                                : ''
                            %}
                            <option value="{{ t.address }}"
                                {{ selected }}
                                class="">
                                {{ t.metadata.symbol }} {% if
                                    t.metadata.name is defined %}
                                    ({{ t.metadata.name }})
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    #}
{% endblock %}
