<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {{ siteTitle }} -{% block title %}

            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="g-Page">
            <div class="g-MainContent">
                <div class="g-Header">
                    <h1>
                        <span>Pezos Sandbox</span>
                    </h1>
                    {{ include('_account.html.twig') }}
                </div>
                <div class="">
                    {% for key, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% block body %}

                {% endblock %}
            </div>
            <footer>
                <div class="container">
                    <div class="g-Footer">
                        <p>
                            Cache duration: 5 minutes
                        </p>
                        <a href="https://github.com/bzzhh/pezos-sandbox">
                            {% include './svg/Octicons-mark-github.svg' %}
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
