<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {{ siteTitle }} -{% block title %}

      {% endblock %}
    </title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="alerts mb-3 mt-3">
        {% for key, messages in app.flashes() %}
          {% for message in messages %}
            <div class="alert alert-{{ key }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
