<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}

        {% endblock %}
        <title>
            {{ siteTitle }} -{% block title %}

            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            <div class="main">
                <div class="header">
                    <h1 class="comic-neue-angular-bold-italic">
                        <span>Pezos Sandbox</span>
                    </h1>
                    {{ include('_account.html.twig') }}
                </div>
                <div>
                    {% for key, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="px-4 py-3 text-blue-700 bg-blue-100 border-t border-b border-blue-500"
                                role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% block body %}

                {% endblock %}
            </div>
            <footer>
                <div class="container">
                    <div>
                        <p>
                            Page auto-refresh every 2 minutes
                        </p>

                        <div class="socializing">
                            <a href="https://twitter.com/BzhDevv">
                                {% include './svg/Twitter_Bird.svg' %}
                            </a>

                            <a href="https://github.com/bzzhh/pezos-sandbox">
                                {% include './svg/Octicons-mark-github.svg' %}
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
