{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_account.html.twig') }}

    <hr />

    <div class="d-flex justify-content-between">
        <div>
            <p>
                Welcome to Pezos Sandbox, this is a sandbox website to
                experiment working with PHP and Tezos. (<a href="https://github.com/bzzhh/pezos-sandbox"
                    class="text-decoration-none">
                    Github&nbsp;<svg xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-github"
                        viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                </a>)<br />
                {% if not is_granted('ROLE_MEMBER') %}
                    You can login with a tz1 account to access the backend.
                {% endif %}
            </p>
            <p>
                {% set fa2 =
                    constant(
                        'PezosSandbox\\Domain\\Model\\Token\\Token::KIND_FA2'
                    )
                %}
                {% set fa1_2 =
                    constant(
                        'PezosSandbox\\Domain\\Model\\Token\\Token::KIND_FA1_2'
                    )
                %}
            </p>There are currently {{ tokensByKind[fa2]|length }} {{ fa2 }} tokens
            {{ tokensByKind[fa1_2]|length }} {{ fa1_2 }} tokens in the db.<hr />
        </div>
        <div class="justify-content-around align-self-center">
            <a href="https://tzkt.io/buy-tezos"
                target="new"
                class="btn btn-success">
                BUY TEZOS
            </a>
        </div>
    </div>
    <h2>
        Quipuswap Pairs
    </h2>

    <form>
        <div class="form-group">
            <select class="form-control"
                onchange="window.location.replace('?address=' + this.value)">
                {% for token in tokens %}
                    {% set selected = token.symbol == selectedToken.symbol
                        ? 'selected'
                        : ''
                    %}
                    <option value="{{ token.address }}" {{ selected }}>
                        {{ token.symbol }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <br />

    <div class="row">
        <div class="col-md">
            <h3>
                Token
            </h3>
            <p>
                {{ selectedToken.kind }} <br />
                {{ selectedToken.decimals }} decimals <br />
                <a href="https://better-call.dev/mainnet/{{
                    infos.token_address
                    }}/tokens">
                    {{ infos.token_address }}
                </a>
            </p>
        </div>

        <div class="col-md">
            <h3>
                Pool
            </h3>
            <p>
                {{ infos.tez_pool|number_format(6) }}&nbsp;ꜩ / {{
                    infos.token_pool|number_format(selectedToken.decimals)
                }} {{ selectedToken.symbol }}
                <br />
                1&nbsp;{{ selectedToken.symbol }} = {{
                    (infos.tez_pool / infos.token_pool)|number_format(6)
                }}&nbsp;ꜩ / 1&nbsp;ꜩ = {{
                    (infos.token_pool / infos.tez_pool)|number_format(
                        selectedToken.decimals
                    )
                }}
                {{ selectedToken.symbol }} <br />
                <a href="https://better-call.dev/mainnet/{{
                    selectedToken.addressQuipuswap
                    }}">
                    {{ selectedToken.addressQuipuswap }}
                </a>
            </p>
        </div>

        {% if infos.total_supply is not null %}
            <div class="col-md">
                <h3>
                    Supply
                </h3>
                <p>
                    {{ infos.total_supply|number_format }} <br />
                </p>
            </div>
        {% endif %}
    </div>

    <hr />

    <div class="d-flex justify-content-between">
        <div>
            <a href="https://tzkt.io/{{ selectedToken.addressQuipuswap }}/dex"
                class="btn btn-info"
                target="new">
                Candles chart (tzkt)
            </a>
        </div>

        <div>
            <a href="https://quipuswap.com/swap?from=tez&to={{
                selectedToken.address
                }}"
                class="btn btn-success"
                target="new">
                BUY
            </a>
            <a href="https://quipuswap.com/swap?from={{
                selectedToken.address
                }}&to=tez"
                class="btn btn-danger"
                target="new">
                SELL
            </a>
        </div>
    </div>

    <hr />
    {{ render_chart(chart) }}
{% endblock %}
