{% extends 'base.html.twig' %}

{% block body %}
    <div class="dashboard">
        <div id="token-choices-wrapper"
            class="mt-2"
            {{ stimulus_controller('token-choices') }}>
            <div class="w-full bg-gray-50 h-11"
                data-token-choices-target="holder"></div>
            <form data-token-choices-target="form" class="hidden">
                <div>
                    <select class="form-control"
                        id="token-choices"
                        onchange="window.location.replace('?address=' + this.value)"
                        class="w-full">
                        {% for t in tokens %}
                            {% set selected = t.address == token.address
                                ? 'selected'
                                : ''
                            %}
                            <option value="{{ t.address }}"
                                {{ selected }}
                                class="w-full">
                                {{ t.metadata.symbol }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>

        <div class="divide-x divide-gray-200 | token">
            <div>
                {% if token.metadata.thumbnail_uri ?? null %}
                    <img src="{{ token.metadata.thumbnail_uri }}"
                        class="w-32" />
                {% else %}
                    {% include './svg/noun_explosion_563988.svg' %}
                {% endif %}
                <div class="flex flex-row mt-6 justify-evenly">
                    <a href="https://quipuswap.com/swap?from=tez&to={{
                        token.address
                        }}"
                        target="new"
                        class="btn-small btn-buy">
                        BUY
                    </a>
                    <a href="https://quipuswap.com/swap?from={{
                        token.address
                        }}&to=tez"
                        target="new"
                        class="btn-small btn-sell">
                        SELL
                    </a>
                </div>
            </div>
            <div class="flex-grow pl-6 mx-6">
                <div class="flex flex-row items-center justify-around w-full">
                    {% if token.metadata.name ?? null %}
                        <span class="flex-grow | name">
                            {{ token.metadata.name }}
                        </span><br />
                    {% endif %}
                    {% if token.metadata.homepage is defined %}
                        <a href="{{ token.metadata.homepage }}">
                            {{ token.metadata.homepage }}
                        </a>
                    {% endif %}

                    {% if token.metadata.twitter is defined %}
                        <a href="{{ token.metadata.twitter }}" class="ml-3">
                            {% include './svg/Twitter_Bird.svg' %}
                        </a>
                    {% endif %}

                    {% if token.metadata.telegram is defined %}
                        <a href="{{ token.metadata.telegram }}" class="ml-3">
                            {% include './svg/Telegram_2019_Logo.svg' %}
                        </a>
                    {% endif %}

                    {% if token.metadata.discord is defined %}
                        <a href="{{ token.metadata.discord }}" class="ml-3">
                            {% include './svg/Discord_logo.svg' %}
                        </a>
                    {% endif %}

                    {% if token.metadata.reddit is defined %}
                        <a href="{{ token.metadata.reddit }}" class="ml-3">
                            {% include './svg/Reddit_logo.svg' %}
                        </a>
                    {% endif %}

                    {% if token.metadata.facebook is defined %}
                        <a href="{{ token.metadata.facebook }}" class="ml-3">
                            {% include './svg/Facebook_logo.svg' %}
                        </a>
                    {% endif %}

                    {% if token.metadata.instagram is defined %}
                        <a href="{{ token.metadata.instagram }}" class="ml-3">
                            {% include './svg/Instagram_logo_2016.svg' %}
                        </a>
                    {% endif %}

                    {% if token.metadata.github is defined %}
                        <a href="{{ token.metadata.github }}" class="ml-3">
                            {% include './svg/Octicons-mark-github.svg' %}
                        </a>
                    {% endif %}
                </div>

                {% if token.metadata.description is defined %}
                    <div class="my-3 | description">
                        {{ token.metadata.description }}
                    </div>
                {% endif %}
                <div>
                    <ul>
                        <li>Supply: {{ supply|number_format }}</li>
                        <li>
                            Standard: {{ token.address.id is not null ? 'FA2' : 'FA1.2' }}
                        </li>
                        <li>Decimals: {{ token.metadata.decimals }}</li>
                        <li>
                            Contract: <a href="https://better-call.dev/mainnet/{{
                                token.address.contract
                                }}/tokens"
                                class="underline">
                                bcd
                            </a> | <a href="https://tzkt.io/{{ token.address.contract }}/dex" target="new" class="underline">tzkt</a>
                        </li>
                        {% for exchange in token.exchanges %}
                            <li>
                                {{ exchange.exchangeName }}: <a href="https://better-call.dev/mainnet/{{
                                    exchange.contract
                                    }}"
                                    class="underline">
                                    bcd
                                </a> | <a href="https://tzkt.io/{{
                                    exchange.contract
                                    }}/dex"
                                    target="new"
                                    class="underline">
                                    tzkt
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if charts is not empty %}
        <div>
            <div>
                <div class="mt-2"
                    {{
                    stimulus_controller(
                        'refresh-content',
                        {
                            url: path(
                                '_app_token_last_update',
                                {
                                    address: token.address
                                }
                            ),
                            interval: refresh_interval_ms,
                            useEffect: true
                        }
                    )
                    }}
                    data-refresh-content-target="content"
                    data-action="chartjs:updated->reload-content#refreshContent">
                    {% include './_token_last_update.html.twig' %}
                </div>
            </div>

            <div {{ stimulus_controller('time_interval_form') }}
                class="custom-radio-buttons">
                {% form_theme timeIntervalForm
                    with['form_div_layout.html.twig']
                    only
                %}
                {{ form(timeIntervalForm) }}
            </div>

            <div {{ stimulus_controller('tabs') }} data-tabs-index="0">
                <div class="tabs">
                    <ul>
                        {% for title in charts.QuipuSwap|keys %}
                            <li data-tabs-target="tab" class="">
                                <a data-action="tabs#change">{{ title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="charts">
                    <span class="spinner">
                        {% include './svg/noun_spinner_639850.svg' %}
                    </span>
                    {% for title, chart in charts.QuipuSwap %}
                        <div data-tabs-target="tabPanel">
                            {{
                                render_chart(
                                    chart,
                                    {
                                        'data-controller': 'chartjs',
                                        'data-action': 'chartjs:connect->chartjs#onChartConnect',
                                        'data-chartjs-title-value': title,
                                        'data-chartjs-interval-value': refresh_interval_ms,
                                        'data-chartjs-diff-url-value': path(
                                            '_app_token_diff',
                                            {
                                                address: token.address
                                            }
                                        )
                                    }
                                )
                            }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
