{% set fa2 = constant('PezosSandbox\\Domain\\Model\\Token\\Token::KIND_FA2') %}
{% set fa1_2 =
    constant('PezosSandbox\\Domain\\Model\\Token\\Token::KIND_FA1_2')
%}

{% extends 'base.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh"
        content="60;URL=/?address={{ selectedToken.address }}" />
{% endblock %}

{% block body %}
    <div class="i-Banner">
        <div>
            {{ tokensByKind[fa2]|length }} {{ fa2 }} tokens
        </div>
        <div>
            {{ tokensByKind[fa1_2]|length }} {{ fa1_2 }} tokens
        </div>
        <div>
            <a href="https://tzkt.io/buy-tezos"
                target="new"
                class="font-bold underline">
                BUY TEZOS
            </a>
        </div>
    </div>

    <div class="i-Dashboard">
        <form>
            <div>
                <select onchange="window.location.replace('?address=' + this.value)"
                    class="w-full">
                    {% for token in tokens %}
                        {% set selected = token.symbol == selectedToken.symbol
                            ? 'selected'
                            : ''
                        %}
                        <option value="{{ token.address }}"
                            {{ selected }}
                            class="w-full">
                            {{ token.symbol }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </form>

        <div class="i-Token divide-x divide-gray-200">
            <div>
                <img src="{{ selectedToken.thumbnailUri }}" class="w-32" />
                <div class="flex flex-row mt-6 justify-evenly">
                    <a href="https://quipuswap.com/swap?from=tez&to={{
                        selectedToken.address
                        }}"
                        target="new"
                        class="btn-small btn-buy">
                        BUY
                    </a>
                    <a href="https://quipuswap.com/swap?from={{
                        selectedToken.address
                        }}&to=tez"
                        target="new"
                        class="btn-small btn-sell">
                        SELL
                    </a>
                </div>
            </div>
            <div class="flex-grow pl-6 mx-6">
                <div class="flex flex-row items-center justify-around w-full">
                    <span class="flex-grow token-name">
                        {{ selectedToken.name }}
                    </span><br />

                    <a href="{{ selectedToken.homepage }}">
                        {{ selectedToken.homepage }}
                    </a>

                    {% if selectedToken.social.twitter is defined %}
                        <a href="{{ selectedToken.social.twitter }}"
                            class="ml-3">
                            {% include './svg/Twitter_Bird.svg' %}
                        </a>
                    {% endif %}

                    {% if selectedToken.social.telegram is defined %}
                        <a href="{{ selectedToken.social.telegram }}"
                            class="ml-3">
                            {% include './svg/Telegram_2019_Logo.svg' %}
                        </a>
                    {% endif %}

                    {% if selectedToken.social.discord is defined %}
                        <a href="{{ selectedToken.social.discord }}"
                            class="ml-3">
                            {% include './svg/Discord_logo.svg' %}
                        </a>
                    {% endif %}

                    {% if selectedToken.social.instagram is defined %}
                        <a href="{{ selectedToken.social.instagram }}"
                            class="ml-3">
                            {% include './svg/Instagram_logo_2016.svg' %}
                        </a>
                    {% endif %}

                    {% if selectedToken.social.github is defined %}
                        <a href="{{ selectedToken.social.github }}"
                            class="ml-3">
                            {% include './svg/Octicons-mark-github.svg' %}
                        </a>
                    {% endif %}
                </div>

                <div class="my-3 token-desc">
                    {{ selectedToken.description }}
                </div>

                <ul>
                    {% if infos.total_supply is not null %}
                        <li>
                            Supply:
                            {{ infos.total_supply|number_format }} <br />
                        </li>
                    {% endif %}
                    <li>Standard: {{ selectedToken.kind }}</li>
                    <li>Decimals: {{ selectedToken.decimals }}</li>
                    <li>
                        Contract: <a href="https://better-call.dev/mainnet/{{ infos.token_address }}/tokens" class="underline">bcd</a>
                    </li>
                    <li>
                        Dex Contract: <a href="https://better-call.dev/mainnet/{{ selectedToken.addressQuipuswap }}" class="underline">bcd</a>
                    </li>
                    <li>
                        Liquidity Pool: {{
                            infos.tez_pool|number_format(6)
                        }}&nbsp;ꜩ / {{
                            infos.token_pool|number_format(
                                selectedToken.decimals
                            )
                        }}
                        {{ selectedToken.symbol }}
                    </li>
                    <li>
                        Price/Ratio: 1&nbsp;{{ selectedToken.symbol }} = {{
                            (infos.tez_pool / infos.token_pool)|number_format(6)
                        }}&nbsp;ꜩ / 1&nbsp;ꜩ = {{
                            (infos.token_pool / infos.tez_pool)|number_format(
                                selectedToken.decimals
                            )
                        }}
                        {{ selectedToken.symbol }}
                    </li>
                    <li>
                        Candles Chart: <a href="https://tzkt.io/{{ selectedToken.addressQuipuswap }}/dex" target="new" class="underline">tzkt</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <p class="text-right">
                last update: {{ lastUpdate }} (UTC)
            </p>
        </div>
        <div {{ stimulus_controller('tabs') }} data-tabs-index="0">
            <div class="c-Nav">
                <ul class="c-Menu">
                    <li data-target="tabs.tab" class="">
                        <a data-action="tabs#change">Prices Dynamics</a>
                    </li>
                    <li data-target="tabs.tab" class="">
                        <a data-action="tabs#change">Pool Dynamics</a>
                    </li>
                </ul>
            </div>
            <div class="c-Chart">
                <div class="" data-target="tabs.tabPanel">
                    {{ render_chart(chart) }}
                </div>
                <div class="hidden" data-target="tabs.tabPanel">
                    {{ render_chart(poolChart) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
