{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_account.html.twig') }}

    <hr />

    <div>
        <div>
            <p>
                {% set fa2 =
                    constant(
                        'PezosSandbox\\Domain\\Model\\Token\\Token::KIND_FA2'
                    )
                %}
                {% set fa1_2 =
                    constant(
                        'PezosSandbox\\Domain\\Model\\Token\\Token::KIND_FA1_2'
                    )
                %}
            </p>There are currently {{ tokensByKind[fa2]|length }} {{ fa2 }} tokens
            {{ tokensByKind[fa1_2]|length }} {{ fa1_2 }} tokens in the db.<hr />
        </div>
        <div>
            <a href="https://tzkt.io/buy-tezos"
                target="new"
                class="btn btn-blue">
                BUY TEZOS
            </a>
        </div>
    </div>
    <h2>
        Quipuswap Pairs
    </h2>

    <form>
        <div>
            <select onchange="window.location.replace('?address=' + this.value)">
                {% for token in tokens %}
                    {% set selected = token.symbol == selectedToken.symbol
                        ? 'selected'
                        : ''
                    %}
                    <option value="{{ token.address }}" {{ selected }}>
                        {{ token.symbol }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <br />

    <div>
        <div>
            <h3>
                Token
            </h3>
            <p>
                {{ selectedToken.kind }} <br />
                {{ selectedToken.decimals }} decimals <br />
                <a href="https://better-call.dev/mainnet/{{
                    infos.token_address
                    }}/tokens">
                    {{ infos.token_address }}
                </a>
            </p>
        </div>

        <div>
            <h3>
                Pool
            </h3>
            <p>
                {{ infos.tez_pool|number_format(6) }}&nbsp;ꜩ / {{
                    infos.token_pool|number_format(selectedToken.decimals)
                }} {{ selectedToken.symbol }}
                <br />
                1&nbsp;{{ selectedToken.symbol }} = {{
                    (infos.tez_pool / infos.token_pool)|number_format(6)
                }}&nbsp;ꜩ / 1&nbsp;ꜩ = {{
                    (infos.token_pool / infos.tez_pool)|number_format(
                        selectedToken.decimals
                    )
                }}
                {{ selectedToken.symbol }} <br />
                <a href="https://better-call.dev/mainnet/{{
                    selectedToken.addressQuipuswap
                    }}">
                    {{ selectedToken.addressQuipuswap }}
                </a>
            </p>
        </div>

        {% if infos.total_supply is not null %}
            <div>
                <h3>
                    Supply
                </h3>
                <p>
                    {{ infos.total_supply|number_format }} <br />
                </p>
            </div>
        {% endif %}
    </div>

    <hr />

    <div>
        <div>
            <a href="https://tzkt.io/{{ selectedToken.addressQuipuswap }}/dex"
                target="new">
                Candles chart (tzkt)
            </a>
        </div>

        <div>
            <a href="https://quipuswap.com/swap?from=tez&to={{
                selectedToken.address
                }}"
                target="new">
                BUY
            </a>
            <a href="https://quipuswap.com/swap?from={{
                selectedToken.address
                }}&to=tez"
                target="new">
                SELL
            </a>
        </div>
    </div>

    <hr />
    {{ render_chart(chart) }}
{% endblock %}
